*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

ul,
p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}