.hero {
  padding-top: 12px;
  padding-bottom: 24px;

  @media screen and (min-width: 1140px) {
    padding: 40px 0;
  }

  &__wrapp{
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and (min-width: 1140px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 122px;
      }
  }

  &__line{
   @media screen and (max-width: 1139px) {
    display:  none;
   }
   
   @media screen and (min-width: 1140px) {
    display: flex;
    justify-content: center;
    background-color: #000000;
    width: 127px;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 40px;
   }
  }

  &__img{
    @media screen and (min-width: 1140px) {
        min-width: 461px;
    }
  }

  &__title-wrapp{
    position: relative;
    margin-right: 10px;
  }

  &__desc-wrapp{
    display:  flex;
    flex-direction: column; 
    gap: 24px;

    @media screen and (min-width: 1140px) {
        gap: 28px;
        width: 558px;
    }
  }

  &__title {
    font-family: 'Exo', sans-serif;
    color: var(--second-text-color);
    font-size: 28px;
    font-weight: 700;
    line-height: 39.2px;
    text-transform: capitalize;
  }

  &__title--accent{
    position: relative;

    &::after{
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    bottom: -4px;
    left: 0;
    background-color: var(--secondary-bg-color);
    border-radius: 21px;
    width: 100%;
    height: 12px;
    }
  }
}
