.section-title {
  font-family: 'Exo', sans-serif;
  font-size: 24px;
  text-align:  center;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px; 
  text-transform: capitalize;
  color: var(--second-text-color);
}

