:root {
    /*Main text color*/
    --main-text-color: #585858;
    /*Secondary text color*/
    --second-text-color: #313131;
    /*White text color*/
    --white-text-color: #FFFFFF;

    /*Corporate bg color*/
    --corporate-bg-color: #7F3A6A;
    /*Secondary bg color*/
    --secondary-bg-color: #E9A923;
    /*Bg parners*/
    --bg-partners: #F1E9EE;

    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}